/***************************/
/*  Order List Compoonent  */
/***************************/

.noOrders{
    background-image: url('../Auth/modalSpaceBg.JPG');
    color: #FFFDD0;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

/**********************/
/*  Order Compoonent  */
/**********************/

#viewDetailBtn{
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
    float: left;
}

#deleteOrderBtn{
    width: 150px;
    border: 13px solid #04614b;
    color: #FFFDD0;
    float: right;
}

.order{
    background-color: whitesmoke;
    opacity: 0.7;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
}

/*****************************/
/*  Order Detail Compoonent  */
/*****************************/

#cancelBtn{
    height: 40px;
    width: 40px;
    margin-bottom: 22px;
}

#orderDetailBtn{
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
}

.orderDetailModal{
    background-image: url('../Auth/modalSpaceBg.JPG');
    color: #FFFDD0;
    font-size: 25px;
}

.rowSpacing{
    margin-bottom: 22px;
}


/**********************************/
/*  Order Detail Item Compoonent  */
/**********************************/

#editOrderItemBtn{
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
}

#editItemQuantityBtn{
    height: 60px;
    width: 60px;
    border: 10px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
}

#submitItemQuantityBtn{
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
}

.orderItem{
    color: #FFFDD0;
}
