/**************************/
/*   Navbar Compoonent     */
/**************************/

#btn{
    height: 110px;
    width:110px;
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
    font-size: 13px;
    text-align: center;
}