/**************************/
/*   Navbar Compoonent     */
/**************************/


#btn{
    height: 110px;
    width:110px;
    border: 13px solid #6f5570;
    background-color: #dd4aed;
    color: white;
    font-size: 13px;
    text-align: center;
}


/**************************/
/*   Home Compoonent     */
/**************************/


/* .wasd{
    background-image: url('../../spaceBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

.qwer{
    background-color: chartreuse;
}


