/**************************/
/*   Auth Compoonent     */
/**************************/

.authModal{
    background-color: transparent !important;
}

#authBtn{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
    font-size: 15px;
    text-align: center;
}



/**************************/
/*    Signup Compoonent   */
/**************************/

#cancelBtn{
    height: 40px;
    width: 40px;
    position: relative;
    float: right;
}

#signupForm{
    margin-top: 50px;
}

#createUserBtn{
    width: 200px;
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
    font-size: 15px;
    text-align: center;
    position: relative;
    left: 27%;
}

.signupModal{
    color: #FFFDD0;
    background-image: url('./modalSpaceBg.JPG');
}



/**************************/
/*   Login Compoonent     */
/**************************/

#loginCancelBtn{
    height: 40px;
    width: 40px;
    margin-bottom: 22px;
}

#loginNumBtn{
    height: 80px;
    width: 80px;
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
    font-size: 30px;
}

#loginBtn{
    height: 80px;
    width: 154px;
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
    font-size: 30px;
    padding: 5px;
}

#password{
    border: 13px solid #04614b;
    background-color: #27cfa8;
    padding: 5px;
    margin-left: 87px;
    margin-bottom: 22px;
    font-size: 40px;
}

#backspace{
    height: 40px;
    width: 45px;
    position: relative;
    margin-bottom: 13px;
    right: 10px;
}

.loginModal{
    color: #FFFDD0;
    background-image: url('./modalSpaceBg.JPG');
}

.rowSpacing{
    margin-bottom: 22px;
}