/**************************/
/*   Auth Compoonent     */
/**************************/

#authModal{
    background-color: chartreuse;
}

#authSignupBtn{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 13px solid #6f5570;
    background-color: #dd4aed;
    color: white;
    font-size: 15px;
    text-align: center;
}

#authLoginBtn{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 13px solid #6f5570;
    background-color: #dd4aed;
    color: white;
    font-size: 15px;
    text-align: center;
}

/**************************/
/*   Login Compoonent     */
/**************************/


.loginContainer{
    background-color: cadetblue;
}


#loginNumBtn{
    /* height: 75px;
    width: 75px;
    border: 2px solid black; */
    height: 80px;
    width: 80px;
    border: 13px solid #04614b;
    background-color: #27cfa8;
    color: #FFFDD0;
    font-size: 30px;
}


.loginBtn{
    height: 75px;
    width: 154px;
}

.col1{
    background-color: #dd4aed;
    margin-bottom: 2px;
}

/* .col1{
    padding: 2px;
}

.col2{
    padding: 2px;
}

.col3{
    padding: 2px;
} */

.loginContainer{
    background-color: cadetblue; 
    align-items: center;
}

.row{
    align-items: center;
}

.headerCol{
    /* background-color: blueviolet; */
    padding-left: 10px;
    padding-right: 10px;
}

#password{
    /* background-color: chartreuse; */
    margin-left: 87px;
}

#backspace{
    height: 40px;
    width: 50px;
    position: relative;
    margin-right: 20%;
    /* margin-left: auto */
}


/**************************/
/*    Signup Compoonent   */
/**************************/

#cancelBtn{
    height: 40px;
    width: 40px;
    /* padding-right: 2px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px; */
}